[Unit]
Description=Puma service for Tory PXE task server

[Service]
WorkingDirectory=/srv/tory-task/
SyslogIdentifier=tory-task-puma
PIDFile=/srv/tory-task/tmp/puma/pid
Environment="RACK_ENV=production"
ExecStart=/usr/local/bin/bundle exec puma -C /srv/tory-task/config/puma.rb
ExecStop=/usr/bin/kill -QUIT $MAINPID
ExecReload=/usr/bin/kill -USR1 $MAINPID
Restart=always

[Install]
WantedBy=multiuser.target